
body{
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family:  tahoma;
	align-items: center;
	background: rgb(255,255,140);
}

h1{ 
 font-size: 150px;
 margin: 20px;
 padding: 30px;
}

.project{
font-size: 150px;
 margin: 20px;
 padding: 30px;

}

h2{
	font-size: 20px;
	font-size: 150px;
 margin: 20px;
 padding: 30px;
}
