@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@600;700&family=New+Tegomin&family=Press+Start+2P&family=Source+Sans+Pro&display=swap');

body{
    margin: 0;
    padding: 0;
    width:100vw;
    /* height:100vh;  */
    font-family: 'New Tegomin', serif;
    background-image: url('paint.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

h1{
    top: 20px;
    left: 20px;
    margin: 10px;
    position: absolute;
    font-size: 35px;
    color:#8B0000	;

}

.container {
    height:100vh;
    /* background-color:green; */
    /* z-index:26; */
  
}

.vase { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
   
}

.flower{
    width: 300px;
    height:auto;
    position: fixed;
    z-index: 2;
}


