:root{
	link: #000;
	hover: #b00;
	main: #000;
	bg: #f0f0f0;
	size: 99vmin;
	ratio: 1/1.1;
}

body{
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #white;
	font-family:  tahoma;
	align-items: center;
	background: rgb(63,117,251);
background: linear-gradient(90deg, rgba(63,117,251,1) 0%, rgba(70,252,104,1) 100%);;
}

nav{
	text decoration: none;
	color: #000;
}

header{
	display:  flex;
	justify-content: space-betweeen;
	align-items: center;
	font-weight: 900;
	padding: 40px0;
}

.container{
	width: calc(var(--size)*var(--ratio));
    margin: 0auto;
}

}

nav{
	diplay: flex;
}

nav{
	display: inline-block;
	color: #000;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 20px 0 5px;
	padding: 5px 10px;
	transition:  all 300ms ease-in-out;
	margin-right: 10px;
}

nav a:hover{
	color: var(--hover);
}

.intro{
	width: 100%;
	text-align: center;
	overflow: hidden;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
}

.intro-title{
	color: var(--main);
	font-size: 5rem;
	text-transfrom: uppercase;
	font-weight: bold;
	margin-top: 10vmin;
}


.btn{
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	border: 1px solid #000;
	cursor: pointer;
	transition: all 300ms ease-in-out
}

.btn:hover{
	background-color: pink;
	color: red;

}


















