
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
    background: pink;
    ;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

}


.wrapper h1{
	text-align: center;
	font-size: 80px;
	font-family:  tahoma;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-top: 30vh;
    color:  red;

}


.container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0.7rem;
        padding-top: 20vh;
        height: 100vh;
        font-family: sans-serif;
        position: relative;

       }

img{
  border: 9px solid #FF0000;
}


.button {
  padding: 20px 80px;
  border-radius: 30px;
  background-color:  white;
  color:  black;
  font-size:  60px;
  font-size: 20px;
  text-align:  center;
  transition:  all 100ms;
  margin: 0auto;
 }

.button:hover {
  background-color: rgb(250, 10, 94);
  cursor:  pointer;
}


}


