 body{
  margin: auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
  bacground-color: black;
  font-family: helve;
 }



 #header {
  position: absolute;
  z-index: 10;
  width: 200%;
  height: 70px;
  background-color: #FF1493;
  margin:  auto;  
}

  #header p{
    bottom: 15px;
    position: absolute;
    height: 38px;
    font-size: 38px;
    left: 15px;
    margin: 0px;
    font-weight: 700;
    color: white
}

.border{
   position: absolute;
    background-image: linear-gradient(to bottom, #c8c8c8 0%, #c8c8c8 51%, transparent 51%);
    background-size: 100% 1px;
    height: 1px;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
  }

 .name1 {
      position: absolute;
      bottom: 86%;
      left: 180px;
      font-size: 1.7em;
      font-weight: 500;
      font-color:black;
      font-family: sans-serif;
    }

 .text1 {
      position: absolute;
      bottom: 83%;
      left: 180px;
      font-size: 1.0em;
      color: gray;
      font-weight: 100;
      font-family: sans-serif;
    }

 .icon1{
     position: absolute;
     width: 88px;
     height: 88px;
     left: 55px;
     border-radius: 50%;
     bottom: 82%;
     background: #C4C4C4;
  }

  .border1{
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 78.5%;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 0.11);

  }


 .name2 {
      position: absolute;
      bottom: -104px;
      left: 128px;
      font-size: 1.7em;
      font-weight: 500;
      font-color:black;
      font-family: sans-serif;
    }

  .text2{
      position: absolute;
      bottom: -152px;
      left: 130px;
      font-size: 1.0em;
      color: gray;
      font-weight: 100;
      font-family: sans-serif;
      white-space: nowrap;;
    }

  .icon2{
     position: absolute;
     width: 88px;
     height: 88px;
     left: 1px;
     bottom: -147.5px;
     border-radius: 50%;
     background: #C4C4C4;
  }

.border2{
    position: absolute;
    width: 200vw;
    height: 0px;
    bottom: -175px;
    left: -60px;
    border: 1px solid rgba(0, 0, 0, 0.11);
  }

 .name3 {
      position: absolute;
      bottom: -100px;
      left: 129px;
      font-size: 1.7em;
      font-weight: 500;
      font-color:black;
      font-family: sans-serif;
    }

  .text3{
      position: absolute;
      bottom: -150px;
      left: 130px;
      font-size: 1.0em;
      color: gray;
      font-weight: 100;
      font-family: sans-serif;
      white-space: nowrap;;
    }

   .icon3{
     position: absolute;
     width: 88px;
     height: 88px;
     left: 1px;
     bottom: -145px;
     border-radius: 50%;
     background: #C4C4C4;
  }

  .border3{
    position: absolute;
    width: 200vw;
    height: 0px;
    bottom: -172px;
    left: -60px;
    border: 1px solid rgba(0, 0, 0, 0.11);
  }


 .name4 {
      position: absolute;
      bottom: -100px;
      left: 129px;
      font-size: 1.7em;
      font-weight: 500;
      font-color:black;
      font-family: sans-serif;
    }

   .text4{
      position: absolute;
      bottom: -150px;
      left: 130px;
      font-size: 1.0em;
      color: gray;
      font-weight: 100;
      font-family: sans-serif;
      white-space: nowrap;;
    }
  
  .icon4{
     position: absolute;
     width: 88px;
     height: 88px;
     left: 1px;
     bottom: -145px;
     border-radius: 50%;
     background: #C4C4C4;
  }

  .border4{
    position: absolute;
    width: 200vw;
    height: 0px;
    bottom: -172px;
    left: -60px;
    border: 1px solid rgba(0, 0, 0, 0.11);
  }

   .name5 {
      position: absolute;
      bottom: -100px;
      left: 129px;
      font-size: 1.7em;
      font-weight: 500;
      font-color:black;
      font-family: sans-serif;
    }

    .text5{
      position: absolute;
      bottom: -150px;
      left: 130px;
      font-size: 1.0em;
      color: gray;
      font-weight: 100;
      font-family: sans-serif;
      white-space: nowrap;;
    }

   .icon5{
     position: absolute;
     width: 88px;
     height: 88px;
     left: 1px;
     bottom: -145px;
     border-radius: 50%;
     background: #C4C4C4;
  }
  
  .border5{
    position: absolute;
    width: 200vw;
    height: 0px;
    bottom: -172px;
    left: -60px;
    border: 1px solid rgba(0, 0, 0, 0.11);
  }
 
 .name6 {
      position: absolute;
      bottom: -100px;
      left: 129px;
      font-size: 1.7em;
      font-weight: 500;
      font-color:black;
      font-family: sans-serif;
    }

  .text6{
      position: absolute;
      bottom: -150px;
      left: 130px;
      font-size: 1.0em;
      color: gray;
      font-weight: 100;
      font-family: sans-serif;
      white-space: nowrap;;
    }

  .icon6{
     position: absolute;
     width: 88px;
     height: 88px;
     left: 1px;
     bottom: -145px;
     border-radius: 50%;
     background: #C4C4C4;
  }

.footer{
  position: absolute;
  z-index: 10;
  width: 200vw;
  height: 70px;
  bottom: -250px;
  left: -60px;
  background-color: #FF1493; 
}


