.body {
  background: white;
  background-color: #white;
  font-family:  tahoma;
}

.p{
  top: 43%;
  bottom: 43%;
  font-size: 100px;

}

.section{
  border-radius: 30px;
  background: #FF1493;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 43%;
  left: 43%;
  margin-right: -50%;

}

.heart {
  position: absolute;
  width: 100px;
  height: 90px;
  margin-top: 10px;

}

#heart::before, #heart::after {
  content: "";
  position: absolute;
  top: 48%;
  left: 50%;
  width: 52px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  background: white;
}

#heart::before {
  left: 48.5%;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  position: :absolute;
   margin-right: -50
  }

#heart::after {
  left: 45.6%;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  position: :absolute;
   margin-right: -50
}


}