
* {
	padding: 0px;
	margin: 0px;
}

/* type */

body{
     font-family:arial, sans-serif;
     text-align: center;
     font-size: 60px;
     line-height: 1.4;
     background-color: #fefefe;
}

/*type*/
.content{
	max-width: 1000px;
	padding: 100px 30px;
	margin: auto;
	font-weight: 300;
}

.contentp{
	margin-bottom: 80px;
	position:  relative;
}

.writing {
  font-style: inerit;
  transition: all 10s ease-in-out;
}

.writing:hover{ 
  cursor: pointer;
  font-size: 2em;
}

.writing:hover{
  display: block;
  content: url(../assests/buvette.jpeg);
  position: fixed;
  left: 30%;
  top: 30%;;
 }

.#oval {
      width: 200px;
      height: 100px;
      background: red;
      border-radius: 100px / 50px;
    };
} 

.writing-2{
    font-style: inherit;
	transition: all 10s ease-in-out;
}

.writing-2:hover{
	cursor: pointer;
	font-size: 2em;
}


.writing-3 {
	font-style: inherit;
	transition: all 10s ease-in-out;
}

.writing-3:hover{
	cursor: pointer;
	font-size: 2em;
}


.writing-4 {
	font-style: inherit;
    transition: all 10s ease-in-out;
    }

.writing-4:hover{
	cursor: pointer;
	font-size: 2em;
}